# 敏感配置 - 永远不要提交
.env
.env.local
.env.production

# 依赖
node_modules/

# 数据缓存 (运行时生成)
data/*.json
logs/*.log

# 系统文件
.DS_Store
*.log
